<div class="container-fluid">
  <br>
  <div class="row">
    <app-menu-principal></app-menu-principal>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <h1>
        Matriculados en pregrado
      </h1>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">



    </div>
    <div class="col-sm-4">

      <form action="" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <br>
        <br>
        <label>Facultad</label>
        <br>
        <p-dropdown [options]="facultadArray" optionLabel="label" name="FACULTAD" formControlName="FACULTAD"
          placeholder="Selecciona la facultad" [style]="{'minWidth':'100%'}" (onChange)="facultadSelect($event)">
        </p-dropdown>
        <br>
        <br>


        <label>Programa</label>
        <br>
        <p-dropdown [options]="programaArray" optionLabel="label" name="PROGRAMA" formControlName="PROGRAMA"
          placeholder="Selecciona el programa " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>


        <label>PBM</label>
        <br>
        <p-dropdown [options]="pbmArray" optionLabel="label" name="PBM" formControlName="PBM"
          placeholder="Selecciona el PBM " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Edad</label>
        <br>
        <p-dropdown [options]="edadArray" optionLabel="label" name="EDAD" formControlName="EDAD"
          placeholder="Selecciona la edad " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Sexo</label>
        <br>
        <p-dropdown [options]="sexoArray" optionLabel="label" name="SEXO" formControlName="SEXO"
          placeholder="Selecciona el sexo " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Tipo colegio</label>
        <br>
        <p-dropdown [options]="tipoColegioArray" optionLabel="label" name="TIPO_COL" formControlName="TIPO_COL"
          placeholder="Selecciona el tipo de colegio " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Estrato</label>
        <br>
        <p-dropdown [options]="estratoArray" optionLabel="label" name="ESTRATO_ORIG" formControlName="ESTRATO_ORIG"
          placeholder="Selecciona el estrato " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Departamento de nacimiento</label>
        <br>
        <p-dropdown [options]="depNacArray" optionLabel="label" name="DEP_NAC" formControlName="DEP_NAC"
          placeholder="Selecciona el departamento de nacimiento " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Departamento de procedencia</label>
        <br>
        <p-dropdown [options]="depProcArray" optionLabel="label" name="DEP_PROC" formControlName="DEP_PROC"
          placeholder="Selecciona el departamento de procedencia " [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Nacionalidad</label>
        <br>
        <p-dropdown [options]="nacionalidadArray" optionLabel="label" name="NACIONALIDAD" formControlName="NACIONALIDAD"
          placeholder="Selecciona la nacionalidad" [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Matriculado por primera vez</label>
        <br>
        <p-dropdown [options]="matriculadoArray" optionLabel="label" name="MAT_PVEZ" formControlName="MAT_PVEZ"
          placeholder="Selecciona si es matriculado por primera vez" [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>Tipo de admisión</label>
        <br>
        <p-dropdown [options]="tipoAdmisionArray" optionLabel="label" name="TIPO_ADM" formControlName="TIPO_ADM"
          placeholder="Selecciona el tipo de admisión" [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>PAES</label>
        <br>
        <p-dropdown [options]="paesArray" optionLabel="label" name="PAES" formControlName="PAES"
          placeholder="Selecciona el tipo de admisión PAES" [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>

        <label>PEAMA</label>
        <br>
        <p-dropdown [options]="peamaArray" optionLabel="label" name="PEAMA" formControlName="PEAMA"
          placeholder="Selecciona el tipo de admisión PEAMA" [style]="{'minWidth':'100%'}"></p-dropdown>
        <br>
        <br>



        <hr />
        <br>
        <div class="text-center">
          <button class="btn btn-primary" pButton pRipple label="Guardar" type="submit"
            [disabled]="!formulario.valid">Enviar</button>
        </div>

        <br>


      </form>

      <br>
      <br>

    </div>
    <div class="col-sm-4">

    </div>
  </div>

  <p-progressBar mode="indeterminate" *ngIf="progressBar" [style]="{'height': '6px'}"></p-progressBar>


  <div class="row" *ngIf="showGraph">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <p-chart type="line" [data]="data" [options]="basicOptions"></p-chart>
      <br>
      <p-tabView>
        <p-tabPanel header="Mejor modelo">
          <div class="text-center">
           <img src="../../../../../assets/matriculados/Pregrado/BestModel.png" alt="">
           </div>
        </p-tabPanel>
        <p-tabPanel header="Curva de aprendizaje">
          <div class="text-center">
            <img src="../../../../../assets/matriculados/Pregrado/Learning Curve.png" alt="">
          </div>
        </p-tabPanel>
        <p-tabPanel header="Error de predicción">
          <div class="text-center">
            <img src="../../../../../assets/matriculados/Pregrado/Prediction Error.png" alt="">
          </div>
        </p-tabPanel>
        <p-tabPanel header="Residuales">
          <div class="text-center">
            <img src="../../../../../assets/matriculados/Pregrado/Residuals.png" alt="">
          </div>
        </p-tabPanel>
        <p-tabPanel header="Curva de validación">
          <div class="text-center">
            <img src="../../../../../assets/matriculados/Pregrado/Validation Curve.png" alt="">
          </div>
        </p-tabPanel>

    </p-tabView>
    <br>
    <div class="text-center">
    <button type="button" class="btn btn-primary"  icon="pi pi-file-excel" (click)="exportExcel()"  pTooltip="XLS" tooltipPosition="bottom">Exportar datos</button>
    </div>
    <br>
    </div>
    <div class="col-sm-2">

    </div>
  </div>

  <p-dialog header="Matriculados en pregrado" [(visible)]="displayBasic" [style]="{width: '50vw'}">
    <p>{{ dialogMessage }}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


</div>
